# 4. Loops and Conditionals
---

## Loop

*Loops repeats __block of code__ until the condition is true.*

### For

In [1]:
for i in range(0, 3):
    print(i)

0
1
2

*Above is example of __for__-loop, Here __print(i)__ is __block of code__*

#### Q. What is block of code?

*A __block of code__ is identified by __empty region__, (i.e 4 spaces) at the starting of line (or lines), as well as the line before that block, ends with a __:__ (colon)*

*A __:__ (colon) is mandatory for block level statements.*

*__for__ is block level statement.*

#### Q. What is true condition for above code?

*What range gives us, 0, 1, 2 (but not 3). So above __for__ loop will continue until it will run out of numbers, ie after __2__.*

*__in__ will select each number from __range(0, 3)__ and store it in variable __i__.*

__i__ will have new value on every loop, ie at first it will have __0__, then __1__ and then __2__.

In [2]:
i

2

*Remember __i__ holds the value of last item.*

**Looping through list of names**

In [3]:
names = ['Harry', 'Clara', 'Harold', 'Gimli']

In [4]:
for name in names:
    print(name)

Harry
Clara
Harold
Gimli

**Looping through tuple of ips**

In [5]:
ips = ('192.168.0.5', '192.168.0.55', '192.168.0.14', '192.168.0.67')

In [6]:
for ip in ips:
    print(ip)

192.168.0.5
192.168.0.55
192.168.0.14
192.168.0.67

**Looping through dictionary, by keys**

In [7]:
dct = {
    'name': 'Harry', 
    'age': 42, 
    'profession': 'Foreman', 
    'address': ('12th Street', 'CA')
}

In [8]:
for item in dct:
    print(item)

name
age
profession
address

*here items printed are keys of dictionary*

*If we loop through a dictionary we get keys*

**Get all keys from a dictionary**

In [9]:
dct.keys()

dict_keys(['name', 'age', 'profession', 'address'])

**Looping through all values of dictionary**

In [10]:
for item in dct:
    print(dct[item])

Harry
42
Foreman
('12th Street', 'CA')

**Get all values from a dictionary**

In [11]:
dct.values()

dict_values(['Harry', 42, 'Foreman', ('12th Street', 'CA')])

In [12]:
for item in dct.values():
    print(item)

Harry
42
Foreman
('12th Street', 'CA')

**Get all key, value pair from dictionary**

In [13]:
for item in dct:
    print(f"Key: {item}, Value: {dct[item]}")

Key: name, Value: Harry
Key: age, Value: 42
Key: profession, Value: Foreman
Key: address, Value: ('12th Street', 'CA')

**OR**

In [14]:
for key, value in dct.items():
    print('Key: {}, Value: {}'.format(key, value))

Key: name, Value: Harry
Key: age, Value: 42
Key: profession, Value: Foreman
Key: address, Value: ('12th Street', 'CA')

**How?**

In [15]:
dct.items()

dict_items([('name', 'Harry'), ('age', 42), ('profession', 'Foreman'), ('address', ('12th Street', 'CA'))])

*__dct.items()__ gives us list of tuples of key, value pair.*

*So how are key value is assign to each of variable __key__, __value__.*

### Tuple Assignment

*In Python a variable can be assigned in pairs, such as*

In [16]:
name = 'Harry'
age = 11

In [17]:
name

'Harry'

*Above can be written as*

In [18]:
name, age = 'Ron', 11

*Here right hand side is assigned to left hand side one by one. i.e first is assigned to first variable in left hand side.*

In [19]:
name

'Ron'

*The above assignment is called tuple assignment, both sides are tuple, but we don't need __()__ here in this case.*

In [20]:
(name, age) = ('Harold', 44)

*Eg. __a1, b1 = (0, 1)__ is same as __a1, b1 = 0, 1__*

since (0, 1) is a tuple and it is unpacked ( taken out of tuple ), this process is called unpacking

In [21]:
name

'Harold'

*Here Right hand side tuple is unpacked and assigned to each item on left hand side*

### How this relates to looping through items of dictionary

In [22]:
for item in dct.items():
    print(item)

('name', 'Harry')
('age', 42)
('profession', 'Foreman')
('address', ('12th Street', 'CA'))

In [23]:
for item in dct.items():
    key, value = item # ('profession', 'Foreman')
    print("Key {} with value {}".format(key, value))

Key name with value Harry
Key age with value 42
Key profession with value Foreman
Key address with value ('12th Street', 'CA')

In [24]:
for key, value in dct.items():
    print("key {} has value {}".format(key, value))

key name has value Harry
key age has value 42
key profession has value Foreman
key address has value ('12th Street', 'CA')

*Above, each item from __dct.items()__ is unpacked and assigned to __key, value__ inside for loop*

### Looping through set

In [25]:
for item in {1, 2, 3, 4, 4, 4, 5}:
    print(item)

1
2
3
4
5

## Conditionals

In [26]:
result = []
for i in range(1, 30):
    if i % 3 == 0:
        result.append(i)
result

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [27]:
even = []
odd = []
for num in range(1, 39):
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

In [28]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [29]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37]

**Interview Problem**
1 - 35
is multiple of 3 print "foo"
is multiple of 5 print "bar"
is multiple of both 3 and 5 print "foobar"

In [30]:
for num in range(1, 36):
    if num % 3 == 0 and num % 5 == 0:
        print("foobar")
    elif num % 3 == 0:
        print("foo")
    elif num % 5 == 0:
        print("bar")
    else:
        print(num)

1
2
foo
4
bar
foo
7
8
foo
bar
11
foo
13
14
foobar
16
17
foo
19
bar
foo
22
23
foo
bar
26
foo
28
29
foobar
31
32
foo
34
bar

In [31]:
1 == 1

True

In [32]:
1 == 2

False

In [33]:
1 < 2

True

In [34]:
1 > 2

False

In [35]:
1 <= 2

True

In [36]:
1 >= 2

False

In [37]:
1 != 2

True

In [38]:
1 < 2 < 3

True

In [39]:
2 < 1 < 3

False

In [40]:
1 == 1 and 2 == 2

True

In [41]:
1 != 1 or 2 == 1

False

In [42]:
1 != 1

False

In [43]:
not 1 != 1

True

In [44]:
not (1 != 1 or 2 == 1)

True

In [45]:
even = None
if 2 % 2 == 0:
    even = True
else:
    even = False

In [46]:
even = True if 2 % 2 == 0 else False

In [47]:
even

True

### Fibonacci

In [48]:
a, b = 0, 1
while b < 69:
    print(b)
    a, b = b, a + b # a, b = 1, 0 + 1 => a, b = 1, 1

1
1
2
3
5
8
13
21
34
55

In [49]:
a, b = 0, 1
num = 100
while True:
    print(b)
    a, b = b, a + b # a, b = 1, 0 + 1 => a, b = 1, 1
    if b >= num:
        break

1
1
2
3
5
8
13
21
34
55
89

In [50]:
def fib():
    a, b = 0, 1
    num = 100
    while True:
        print(b)
        a, b = b, a + b # a, b = 1, 0 + 1 => a, b = 1, 1
        if b >= num:
            break

In [51]:
fib()

1
1
2
3
5
8
13
21
34
55
89

In [52]:
def fib(a, b):
    num = 100
    while True:
        print(b)
        a, b = b, a + b # a, b = 1, 0 + 1 => a, b = 1, 1
        if b >= num:
            break

In [53]:
fib(0, 1)

1
1
2
3
5
8
13
21
34
55
89

In [54]:
fib(3, 4)

4
7
11
18
29
47
76

In [55]:
def fib(a, b, num=100):
    while True:
        print(b)
        a, b = b, a + b # a, b = 1, 0 + 1 => a, b = 1, 1
        if b >= num:
            break

In [56]:
fib(5, 6)

6
11
17
28
45
73

In [57]:
fib(5, 6, 200)

6
11
17
28
45
73
118
191